/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-may-2016, 16:43:12
    Author     : Je¡ZZ¡
*/

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color: #222;
    border-color: #080808;
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

#def_usuario{
    background-color: rgb(41,41,41);
    border-color: black;
    overflow:hidden;
}

#def_usuario li a{
    text-align: justify;
    background-color: rgb(41,41,41);
    color: rgb(157,157,157);
}

#def_usuario li a:hover{
    background: rgb(41,41,41);
    color: #fff;
}

.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
   #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}